mortgage digest/mortgage-digest-handoff/handoff-bundle/workflows/workflow-B-sender.json
{
  "name": "Mortgage Digest \u2014 Sender + Signup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * 1-5"
            }
          ]
        }
      },
      "id": "send-cron",
      "name": "6 AM Daily (Mon\u2013Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        200
      ],
      "notes": "Runs at 6:00 AM Pacific. Pulls the digest generated at 5:30 AM and sends to all active subscribers."
    },
    {
      "parameters": {
        "operation": "readAllMatchingRows",
        "documentId": {
          "__rl": true,
          "value": "1xwXBF7mVq9hENr2B43Ig9OS6TqF1H8CoOePfe8Zo8G0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Digest",
          "mode": "name"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "id": "fetch-digest-daily",
      "name": "Fetch Today's Digest",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        460,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets (Digest)"
        }
      },
      "notes": "Reads all digest rows. Next node picks the most recent by timestamp."
    },
    {
      "parameters": {
        "jsCode": "// Pick the most recent digest row by timestamp\nconst rows = $input.all().map(item => item.json);\nif (!rows || rows.length === 0) {\n  throw new Error('No digest found in sheet. Generator workflow may not have run yet.');\n}\nconst sorted = rows.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));\nconst latest = sorted[0];\nif (!latest.html || !latest.subject) {\n  throw new Error('Latest digest row is missing html or subject.');\n}\nreturn [{ json: { subject: latest.subject, html: latest.html, timestamp: latest.timestamp } }];"
      },
      "id": "get-recent-daily",
      "name": "Get Today's Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        200
      ],
      "notes": "Sorts digest rows by timestamp, returns the newest. Throws if none exist so the send doesn't proceed with empty content."
    },
    {
      "parameters": {
        "operation": "readAllMatchingRows",
        "documentId": {
          "__rl": true,
          "value": "1xwXBF7mVq9hENr2B43Ig9OS6TqF1H8CoOePfe8Zo8G0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Subscribers",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "active",
              "lookupValue": "TRUE"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-subscribers",
      "name": "Fetch Active Subscribers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        900,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets (Digest)"
        }
      },
      "notes": "Reads all rows where active=TRUE from the Subscribers tab. References columns by header name so adding columns never breaks this node."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-subscribers",
      "name": "Split Subscribers",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        200
      ],
      "notes": "Loops through each subscriber one at a time. Increase batchSize to 10-50 for larger lists if Gmail rate limits allow."
    },
    {
      "parameters": {
        "sendTo": "={{ $('Fetch Active Subscribers').item.json.email }}",
        "subject": "={{ $('Get Today\\'s Digest').first().json.subject }}",
        "emailType": "html",
        "message": "={{ $('Get Today\\'s Digest').first().json.html }}",
        "options": {
          "senderName": "Mortgage Digest | JWH Financial",
          "replyTo": "mortgage-digest@jwhfinance.com",
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Send via Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1340,
        120
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail (Digest Sender)"
        }
      },
      "notes": "Sends from the Gmail account authorized via OAuth2. To send FROM mortgage-digest@jwhfinance.com, first add it as a 'Send mail as' alias in Gmail Settings \u2192 Accounts and Import, verify it, then add 'fromEmail: mortgage-digest@jwhfinance.com' to the options above. The senderName shows 'Mortgage Digest | JWH Financial' in the inbox."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xwXBF7mVq9hENr2B43Ig9OS6TqF1H8CoOePfe8Zo8G0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Subscribers",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('Fetch Active Subscribers').item.json.email }}"
            }
          ]
        },
        "fieldsUi": {
          "values": [
            {
              "fieldId": "last_sent_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "send_count",
              "fieldValue": "={{ ($('Fetch Active Subscribers').item.json.send_count || 0) + 1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-send",
      "name": "Log Send to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1560,
        120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets (Digest)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "digest-signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "signup-webhook",
      "name": "Signup Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        500
      ],
      "webhookId": "digest-signup",
      "notes": "Receives signups from the landing page. After deploying, copy this URL and paste it into the WEBHOOK_URL variable in digest-signup.jsx"
    },
    {
      "parameters": {
        "jsCode": "// VALIDATE SIGNUP \u2014 4-layer email validation\n// Layer 1: strict format\n// Layer 2: disposable domain blocking\n// Layer 3: common typo detection\n// Layer 4: MX record check (DNS-over-HTTPS) \u2014 confirms domain can receive mail\n// Returns valid:true/false plus a specific `error` message the webhook surfaces.\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst firstName = (body.firstName || '').trim();\nconst lastName = (body.lastName || '').trim();\nconst email = (body.email || '').trim().toLowerCase();\nconst company = (body.company || '').trim();\nconst role = (body.role || '').trim();\nconst roleOther = (body.roleOther || '').trim();\nconst phone = (body.phone || '').trim();\nconst partnerId = (body.partnerId || '').trim().toLowerCase();\nconst loIdDirect = (body.loId || '').trim().toLowerCase();\n\nconst fail = (error) => [{ json: { valid: false, error } }];\n\n// \u2500\u2500 Required fields \u2500\u2500\nif (!firstName) return fail('First name is required.');\nif (!lastName) return fail('Last name is required.');\nif (!email) return fail('Email address is required.');\nif (!role) return fail('Please select your role.');\nif (role === 'Other' && !roleOther) return fail('Please describe your role.');\n\n// \u2500\u2500 LAYER 1: strict format \u2500\u2500\n// Basic structure, no consecutive dots, no leading/trailing dots in local part,\n// valid TLD of at least 2 chars.\nconst formatRe = /^[a-z0-9](?:[a-z0-9._%+-]*[a-z0-9])?@[a-z0-9](?:[a-z0-9-]*[a-z0-9])?(?:\\.[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)*\\.[a-z]{2,}$/i;\nif (!formatRe.test(email)) {\n  return fail('Please enter a valid email address.');\n}\nif (email.includes('..')) {\n  return fail('Please enter a valid email address.');\n}\n\nconst domain = email.split('@')[1];\n\n// \u2500\u2500 LAYER 2: disposable / throwaway domains \u2500\u2500\nconst DISPOSABLE = [\n  'mailinator.com','guerrillamail.com','guerrillamail.net','10minutemail.com',\n  'temp-mail.org','tempmail.com','throwawaymail.com','yopmail.com','getnada.com',\n  'trashmail.com','sharklasers.com','grr.la','maildrop.cc','dispostable.com',\n  'fakeinbox.com','mailnesia.com','mintemail.com','spamgourmet.com','mohmal.com',\n  'emailondeck.com','tempinbox.com','tempr.email','33mail.com','spam4.me',\n];\nif (DISPOSABLE.includes(domain)) {\n  return fail('Please use a permanent email address \u2014 temporary inboxes aren\u2019t supported.');\n}\n\n// \u2500\u2500 LAYER 3: common typo detection on major providers \u2500\u2500\nconst TYPOS = {\n  'gmial.com':'gmail.com','gmai.com':'gmail.com','gmal.com':'gmail.com',\n  'gmail.co':'gmail.com','gmaill.com':'gmail.com','gnail.com':'gmail.com',\n  'yahooo.com':'yahoo.com','yaho.com':'yahoo.com','yahoo.co':'yahoo.com',\n  'hotmial.com':'hotmail.com','hotmai.com':'hotmail.com','hotmil.com':'hotmail.com',\n  'outlok.com':'outlook.com','outloo.com':'outlook.com','iclould.com':'icloud.com',\n  'icloud.co':'icloud.com','comcast.net ':'comcast.net',\n};\nif (TYPOS[domain]) {\n  return fail(`Did you mean ${email.split('@')[0]}@${TYPOS[domain]}? Please check your email address.`);\n}\n\n// \u2500\u2500 LAYER 4: MX record check via DNS-over-HTTPS \u2500\u2500\n// mxResult: 'ok' = has mail server, 'nomx' = resolves but no mail,\n//           'nxdomain' = domain doesn't exist, 'error' = lookup itself failed.\nlet mxResult = 'error';\ntry {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://dns.google/resolve?name=${encodeURIComponent(domain)}&type=MX`,\n    timeout: 8000,\n    json: true,\n  });\n  const data = typeof res === 'string' ? JSON.parse(res) : res;\n\n  if (data) {\n    if (data.Status === 3) {\n      mxResult = 'nxdomain'; // domain does not exist\n    } else if (data.Status === 0 && Array.isArray(data.Answer) && data.Answer.some(a => a.type === 15)) {\n      mxResult = 'ok'; // has MX records\n    } else if (data.Status === 0 && (!data.Answer || data.Answer.length === 0)) {\n      // Resolves but no MX \u2014 check A record as implicit-mail fallback\n      try {\n        const aRes = await this.helpers.httpRequest({\n          method: 'GET',\n          url: `https://dns.google/resolve?name=${encodeURIComponent(domain)}&type=A`,\n          timeout: 8000,\n          json: true,\n        });\n        const aData = typeof aRes === 'string' ? JSON.parse(aRes) : aRes;\n        mxResult = (aData && aData.Status === 0 && Array.isArray(aData.Answer) && aData.Answer.length > 0) ? 'ok' : 'nomx';\n      } catch {\n        mxResult = 'nomx';\n      }\n    } else {\n      mxResult = 'nomx';\n    }\n  }\n} catch (e) {\n  console.warn(`[VALIDATE] MX lookup error for ${domain}: ${e.message}`);\n  mxResult = 'error';\n}\n\n// Reject domains that definitively can't receive mail.\n// On a genuine lookup ERROR (network/timeout) fail-open \u2014 bounce handler is the net.\nif (mxResult === 'nxdomain' || mxResult === 'nomx') {\n  return fail('That email domain can\\u2019t receive mail. Please check your address.');\n}\n\n// \u2500\u2500 PASSED ALL LAYERS \u2014 build the validated record \u2500\u2500\nconst fullName = `${firstName} ${lastName}`;\n\nreturn [{ json: {\n  valid: true,\n  email,\n  firstName,\n  lastName,\n  fullName,\n  company,\n  role,\n  roleOther,\n  phone,\n  subscribedAt: new Date().toISOString(),\n  active: 'TRUE',\n  send_count: 0,\n  last_sent_at: '',\n  bounced: 'FALSE',\n  bouncedAt: '',\n  unsubscribedAt: '',\n  partnerId,\n  loIdDirect,\n  source: partnerId ? 'partner_page' : (loIdDirect ? 'lo_page' : 'landing_page'),\n}}];\n"
      },
      "id": "validate-signup",
      "name": "Validate Signup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        500
      ],
      "notes": "4-layer email validation: (1) strict format, (2) disposable domain block, (3) typo detection, (4) MX record check via DNS-over-HTTPS. Returns valid:false with specific error message on failure. MX check failures (network) allow through \u2014 bounce handler is the safety net."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-valid",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        500
      ],
      "notes": "Routes valid signups (valid=true) to TRUE branch \u2192 Save to Google Sheet. Condition: {{ $json.valid }} is true (boolean, loose validation). TRUE \u2192 Save to Sheet. FALSE \u2192 Webhook Response (error)."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xwXBF7mVq9hENr2B43Ig9OS6TqF1H8CoOePfe8Zo8G0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Subscribers",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "firstName": "={{ $json.firstName }}",
            "lastName": "={{ $json.lastName }}",
            "fullName": "={{ $json.fullName }}",
            "company": "={{ $json.company }}",
            "role": "={{ $json.role }}",
            "roleOther": "={{ $json.roleOther }}",
            "phone": "={{ $json.phone }}",
            "subscribedAt": "={{ $json.subscribedAt }}",
            "active": "=TRUE",
            "send_count": "=0",
            "last_sent_at": "",
            "source": "=landing_page"
          },
          "matchingColumns": [
            "email"
          ]
        },
        "matchingColumns": [
          "email"
        ],
        "options": {}
      },
      "id": "save-subscriber",
      "name": "Save to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        900,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets (Digest)"
        }
      },
      "notes": "Append or Update on email \u2014 prevents duplicate subscribers and re-activates resubscribers. Matches on email column by header name."
    },
    {
      "parameters": {
        "sendTo": "={{ $('Validate Signup').item.json.email }}",
        "subject": "Welcome to the Daily Mortgage Digest",
        "emailType": "html",
        "message": "={{ '<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><meta name=\"color-scheme\" content=\"light\"></head><body style=\"margin:0;padding:0;background:#EEF0F5;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#EEF0F5;\"><tr><td align=\"center\" style=\"padding:20px 12px 32px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\"><tr><td style=\"background:#3B6FE8;height:5px;border-radius:10px 10px 0 0;font-size:0;line-height:0;\">&nbsp;</td></tr><tr><td style=\"background:#0D1321;padding:22px 24px 20px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr><td><p style=\"margin:0 0 2px;font-size:9px;font-weight:700;color:#3B6FE8;letter-spacing:0.14em;text-transform:uppercase;\">JWH Financial &middot; Daily Briefing</p><p style=\"margin:0;font-size:22px;font-weight:800;color:#FFFFFF;letter-spacing:-0.03em;line-height:1.2;\">Mortgage &amp; Real Estate Digest</p></td><td align=\"right\" valign=\"middle\" style=\"padding-left:16px;\"><div style=\"width:44px;height:44px;background:#3B6FE8;border-radius:10px;text-align:center;line-height:44px;font-size:22px;\">&#127968;</div></td></tr></table></td></tr><tr><td style=\"background:#FFFFFF;padding:28px 24px;\"><p style=\"margin:0 0 16px;font-size:18px;font-weight:700;color:#0D1321;\">Hi ' + $('Validate Signup').item.json.firstName + ', you&#39;re in.</p><p style=\"margin:0 0 18px;font-size:14px;color:#4B5563;line-height:1.65;\">The latest digest is already on its way to your inbox. Going forward, your Daily Mortgage &amp; Real Estate Digest arrives every weekday at 6 AM Pacific. Each edition includes:</p><table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin:0 0 20px;\"><tr><td style=\"padding:5px 0;\"><span style=\"color:#3B6FE8;font-weight:700;margin-right:8px;\">&middot;</span><span style=\"font-size:13px;color:#4B5563;\">Current mortgage rates &amp; MBS pricing</span></td></tr><tr><td style=\"padding:5px 0;\"><span style=\"color:#3B6FE8;font-weight:700;margin-right:8px;\">&middot;</span><span style=\"font-size:13px;color:#4B5563;\">Top 8&ndash;12 stories from 20 industry sources</span></td></tr><tr><td style=\"padding:5px 0;\"><span style=\"color:#3B6FE8;font-weight:700;margin-right:8px;\">&middot;</span><span style=\"font-size:13px;color:#4B5563;\">Fed &amp; regulatory updates</span></td></tr><tr><td style=\"padding:5px 0;\"><span style=\"color:#3B6FE8;font-weight:700;margin-right:8px;\">&middot;</span><span style=\"font-size:13px;color:#4B5563;\">First &amp; second order effects analysis</span></td></tr><tr><td style=\"padding:5px 0;\"><span style=\"color:#3B6FE8;font-weight:700;margin-right:8px;\">&middot;</span><span style=\"font-size:13px;color:#4B5563;\">Dedicated insights for realtors &amp; agents</span></td></tr><tr><td style=\"padding:5px 0;\"><span style=\"color:#3B6FE8;font-weight:700;margin-right:8px;\">&middot;</span><span style=\"font-size:13px;color:#4B5563;\">What to watch for the trading day</span></td></tr></table><p style=\"margin:0;font-size:13px;color:#9CA3AF;line-height:1.6;border-top:1px solid #E2E5EC;padding-top:16px;\">Know a colleague who&#39;d find this useful? Forward them this email.</p></td></tr><tr><td style=\"background:#0D1321;padding:18px 24px;text-align:center;\"><p style=\"margin:0 0 3px;font-size:12px;font-weight:700;color:#FFFFFF;\">JWH Financial &middot; Mortgage &amp; Real Estate Digest</p><p style=\"margin:0 0 10px;font-size:10px;color:#9CA3AF;font-family:Courier New,monospace;\">mortgage-digest@jwhfinance.com</p><a href=\"https://jwhfinancial.app.n8n.cloud/webhook/digest-unsubscribe?email=' + $('Validate Signup').item.json.email + '\" style=\"font-size:10px;color:#9CA3AF;text-decoration:underline;\">Unsubscribe</a></td></tr><tr><td style=\"background:#3B6FE8;height:4px;border-radius:0 0 10px 10px;font-size:0;line-height:0;\">&nbsp;</td></tr></table></td></tr></table></body></html>' }}",
        "options": {
          "senderName": "Mortgage Digest | JWH Financial",
          "replyTo": "mortgage-digest@jwhfinance.com",
          "appendAttribution": false
        }
      },
      "id": "welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        460
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail (Digest Sender)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.valid ? JSON.stringify({ success: true, message: 'Subscribed!' }) : JSON.stringify({ success: false, error: $json.error }) }}",
        "options": {
          "responseCode": "={{ $json.valid ? 200 : 400 }}"
        }
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        640
      ]
    },
    {
      "parameters": {
        "operation": "readAllMatchingRows",
        "documentId": {
          "__rl": true,
          "value": "1xwXBF7mVq9hENr2B43Ig9OS6TqF1H8CoOePfe8Zo8G0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Digest",
          "mode": "name"
        },
        "filtersUI": {
          "values": []
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "id": "fetch-latest-digest",
      "name": "Fetch Latest Digest",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1340,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets (Digest)"
        }
      },
      "notes": "Reads all rows from the Digest tab. The next node picks the most recent by timestamp. References columns by header name (timestamp, subject, html)."
    },
    {
      "parameters": {
        "jsCode": "// Pick the row with the most recent timestamp from the Digest tab\nconst rows = $input.all().map(item => item.json);\n\nif (!rows || rows.length === 0) {\n  // No digest stored yet \u2014 skip the immediate send\n  return [{ json: { hasDigest: false } }];\n}\n\n// Sort by timestamp descending, take the first\nconst sorted = rows.sort((a, b) => {\n  return new Date(b.timestamp) - new Date(a.timestamp);\n});\n\nconst latest = sorted[0];\n\nif (!latest.html || !latest.subject) {\n  return [{ json: { hasDigest: false } }];\n}\n\nreturn [{ json: {\n  hasDigest: true,\n  subject: latest.subject,\n  html: latest.html,\n  timestamp: latest.timestamp,\n} }];"
      },
      "id": "get-recent-digest",
      "name": "Get Most Recent Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        460
      ],
      "notes": "Sorts all Digest tab rows by timestamp descending and returns the most recent. Sets hasDigest=false if no digest has been stored yet so the send step is skipped gracefully."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-digest-check",
              "leftValue": "={{ $json.hasDigest }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-digest-check",
      "name": "Has Digest?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        460
      ],
      "notes": "If a digest has been stored, send it immediately to the new subscriber. If not (first-ever signup before any digest has run), skip the send gracefully."
    },
    {
      "parameters": {
        "sendTo": "={{ $('Validate Signup').item.json.email }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "senderName": "Mortgage Digest | JWH Financial",
          "replyTo": "mortgage-digest@jwhfinance.com",
          "appendAttribution": false
        }
      },
      "id": "send-latest-digest",
      "name": "Send Latest Digest to New Subscriber",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        420
      ],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail (Digest Sender)"
        }
      },
      "notes": "Sends the most recent digest immediately after signup. Subject and HTML are pulled from the Digest tab by header name. Sends from mortgage-digest@jwhfinance.com."
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "digest-unsubscribe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "unsubscribe-webhook",
      "name": "Unsubscribe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        800
      ],
      "webhookId": "digest-unsubscribe",
      "notes": "GET request so clicking the email link works directly in browser. URL: https://YOUR-N8N/webhook/digest-unsubscribe?email=user@example.com"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1xwXBF7mVq9hENr2B43Ig9OS6TqF1H8CoOePfe8Zo8G0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Subscribers",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.query.email || $json.body?.email }}"
            }
          ]
        },
        "fieldsUi": {
          "values": [
            {
              "fieldId": "active",
              "fieldValue": "=FALSE"
            },
            {
              "fieldId": "unsubscribedAt",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "unsubscribe-sheet",
      "name": "Mark Unsubscribed in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        460,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets (Digest)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "html",
        "responseBody": "<!DOCTYPE html><html><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width,initial-scale=1'><title>Unsubscribed</title></head><body style='margin:0;padding:40px 20px;background:#080e17;font-family:-apple-system,sans-serif;text-align:center;'><div style='max-width:400px;margin:0 auto;'><span style='font-size:40px;'>\ud83d\udc4b</span><h2 style='color:white;margin:16px 0 8px;'>You've been unsubscribed.</h2><p style='color:#64748b;font-size:14px;line-height:1.6;'>You won't receive any more emails from the Mortgage Digest. If this was a mistake, visit the signup page to re-subscribe.</p><p style='margin-top:32px;font-size:11px;color:#334155;font-family:Courier New,monospace;'>Mortgage Digest \u2014 JWH Financial</p></div></body></html>",
        "options": {
          "responseCode": 200
        }
      },
      "id": "unsubscribe-response",
      "name": "Unsubscribe Confirmation Page",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        800
      ]
    }
  ],
  "connections": {
    "6 AM Daily (Mon\u2013Fri)": {
      "main": [
        [
          {
            "node": "Fetch Today's Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today's Digest": {
      "main": [
        [
          {
            "node": "Get Today's Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Digest": {
      "main": [
        [
          {
            "node": "Fetch Active Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Subscribers": {
      "main": [
        [
          {
            "node": "Split Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Subscribers": {
      "main": [
        [],
        [
          {
            "node": "Send via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Gmail": {
      "main": [
        [
          {
            "node": "Log Send to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Send to Sheet": {
      "main": [
        [
          {
            "node": "Split Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signup Webhook": {
      "main": [
        [
          {
            "node": "Validate Signup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Signup": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Save to Google Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheet": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Latest Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Latest Digest": {
      "main": [
        [
          {
            "node": "Get Most Recent Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Most Recent Digest": {
      "main": [
        [
          {
            "node": "Has Digest?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Digest?": {
      "main": [
        [
          {
            "node": "Send Latest Digest to New Subscriber",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Unsubscribe Webhook": {
      "main": [
        [
          {
            "node": "Mark Unsubscribed in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Unsubscribed in Sheet": {
      "main": [
        [
          {
            "node": "Unsubscribe Confirmation Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}