mortgage digest/workflow-A-generator.json
{
  "name": "Mortgage Digest \u2014 Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 5 * * 1-5"
            }
          ]
        }
      },
      "id": "gen-cron",
      "name": "5:30 AM Daily (Mon\u2013Fri)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "notes": "Runs at 5:30 AM Pacific (n8n instance timezone is PT). Generates the digest and saves it to the sheet. Sender workflow runs separately at 6 AM."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent?key={{ $credentials.googleGeminiApi.apiKey }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": {
          "system_instruction": {
            "parts": [
              {
                "text": "You are a senior analyst covering both the mortgage origination industry and the residential real estate market. Your audience is mixed: loan officers, mortgage brokers, and lender executives who need rate/MBS/regulatory intelligence; and realtors and real estate agents who need market conditions, inventory trends, and buyer demand signals. You write with precision and authority. Lead every summary with the key number or decision. Never pad. Be direct."
              }
            ]
          },
          "contents": [
            {
              "role": "user",
              "parts": [
                {
                  "text": "Today is {{ $now.format('EEEE, MMMM d, yyyy') }}.\n\nUse Google Search to find TODAY'S most important news from these sources:\n\nMORTGAGE & LENDING:\n- HousingWire (housingwire.com)\n- Mortgage News Daily (mortgagenewsdaily.com)\n- MBS Live (mbslive.com)\n- National Mortgage Professional (nationalmortgageprofessional.com)\n- Federal Reserve (federalreserve.gov)\n- CFPB (consumerfinance.gov)\n- Freddie Mac (freddiemac.com)\n- Fannie Mae (fanniemae.com)\n- Mortgage Bankers Association (mba.org)\n\nREAL ESTATE & MARKET DATA:\n- National Association of Realtors (nar.realtor)\n- Inman News (inman.com)\n- Zillow Research (zillow.com/research)\n- Redfin News (redfin.com/news)\n- RealTrends (realtrends.com)\n- NAHB (nahb.org)\n- CoStar (costar.com)\n- Calculated Risk (calculatedriskblog.com)\n\nMACRO & ECONOMIC DATA:\n- Bureau of Labor Statistics (bls.gov) \u2014 jobs, CPI, PCE\n- U.S. Census Bureau Housing (census.gov) \u2014 starts, permits, new home sales\n- Conference Board (conference-board.org) \u2014 consumer confidence\n\nFINANCIAL MEDIA (SPECIFIC SECTIONS):\n- Bloomberg CityLab and Bloomberg Real Estate vertical (bloomberg.com/citylab and bloomberg.com/real-estate) \u2014 NOT general Bloomberg finance\n- Wall Street Journal: \"Housing\" tag and Nick Timiraos byline specifically (wsj.com/real-estate/housing and wsj.com/economy/housing) \u2014 NOT general WSJ\n\nWRITING RULES \u2014 strictly follow:\n- NO DIRECT QUOTES: Never copy or reproduce any sentence, phrase, or passage verbatim from a source article. Every word in summaries, keyPoints, and effects must be original writing based on the facts reported. Paraphrase and synthesize \u2014 do not transcribe.\n- summary: MAX 2 sentences. Lead with the number or decision, not context.\n- keyPoints: MAX 3 bullets, each MAX 10 words. Facts only.\n- effects firstOrder/secondOrder: MAX 2 items each, MAX 12 words per item.\n- realtorSection.summary: MAX 2 sentences. Speak directly to agents \u2014 what does this mean for listings, buyers, or their business?\n- realtorSection.actionables: MAX 2 items, MAX 12 words each. Concrete things an agent or realtor can act on or prepare for.\n- watchList: MAX 10 words per item.\n- closingNote: ONE sentence, MAX 20 words.\n- Headlines: verbatim or near-verbatim from source.\n- sourceUrl: EXACT direct URL to the specific article. Search the headline to verify it resolves before including. If unconfirmed, set to null.\n\nFor each story, analyze downstream consequences:\n- FIRST ORDER EFFECTS: Direct immediate consequences\n- SECOND ORDER EFFECTS: Downstream ripple effects on different players\n\nFor stories directly relevant to realtors/agents (inventory, buyer demand, pricing trends, commission/brokerage news, proptech, migration, affordability by market), include a realtorSection. For pure MBS/rate/lender stories with no agent relevance, omit it.\n\nOnly include effects for high-importance stories or those with genuinely significant consequences.\n\nReturn ONLY valid JSON, no markdown, no code fences:\n{\n  \"date\": \"{{ $now.format('EEEE, MMMM d, yyyy') }}\",\n  \"subject\": \"email subject line under 55 chars \u2014 punchy, specific, no fluff\",\n  \"marketSnapshot\": {\n    \"narrative\": \"MAX 2 sentences. Lead with the most important rate/market move and why.\",\n    \"rates\": [\n      { \"label\": \"30-YR FIXED\", \"value\": \"X.XX%\", \"change\": \"+X bps\" },\n      { \"label\": \"15-YR FIXED\", \"value\": \"X.XX%\", \"change\": \"+X bps\" },\n      { \"label\": \"10-YR TREASURY\", \"value\": \"X.XX%\", \"change\": \"+X bps\" },\n      { \"label\": \"MBS 6.0 COUPON\", \"value\": \"XX-XX\", \"change\": \"+X ticks\" },\n      { \"label\": \"FED FUNDS\", \"value\": \"X.XX-X.XX%\", \"change\": \"unchanged\" }\n    ]\n  },\n  \"stories\": [\n    {\n      \"source\": \"Source Name\",\n      \"sourceUrl\": \"https://direct-article-url.com/specific-article or null\",\n      \"headline\": \"Verbatim or near-verbatim headline from source\",\n      \"summary\": \"MAX 2 sentences. Lead with the key fact or number.\",\n      \"keyPoints\": [\"Fact one, max 10 words\", \"Fact two, max 10 words\", \"Fact three, max 10 words\"],\n      \"effects\": {\n        \"hasEffects\": true,\n        \"firstOrder\": [\"Max 12 words\", \"Max 12 words\"],\n        \"secondOrder\": [\"Max 12 words\", \"Max 12 words\"]\n      },\n      \"realtorSection\": {\n        \"hasRealtorAngle\": true,\n        \"summary\": \"MAX 2 sentences written for agents/realtors specifically.\",\n        \"actionables\": [\"Concrete action or prep item, max 12 words\", \"Second item, max 12 words\"]\n      },\n      \"importance\": \"high or normal\",\n      \"category\": \"rates | mbs | housing | fed | regulatory | gse | lender | economy | inventory | demand | brokerage | proptech | macro\"\n    }\n  ],\n  \"watchList\": [\"Max 10 words\", \"Max 10 words\", \"Max 10 words\"],\n  \"closingNote\": \"One sentence, max 20 words.\"\n}\n\nFor stories with no realtor angle set: \"realtorSection\": { \"hasRealtorAngle\": false }.\nFor stories without meaningful effects set: \"effects\": { \"hasEffects\": false }.\nInclude 8-12 stories total. Mark 2-3 as high importance. Order: high importance first, then by recency.\nAim for a mix: roughly half mortgage/lending stories, half real estate/market/macro stories.\n\nIMPORTANT: Output ONLY the JSON object. Do not include any reasoning, explanation, preamble, or commentary before or after the JSON. Your entire response must be the JSON object itself, optionally wrapped in a single ```json code fence."
                }
              ]
            }
          ],
          "tools": [
            {
              "google_search": {}
            }
          ],
          "generationConfig": {
            "temperature": 0.2,
            "maxOutputTokens": 8192
          }
        },
        "options": {}
      },
      "id": "generate-digest",
      "name": "Generate Digest via Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "httpQueryAuth": {
          "name": "Google Gemini API Key"
        }
      },
      "notes": "Gemini 2.5 Pro with Google Search grounding. 20 sources across mortgage, real estate, macro, and financial media. Expanded JSON schema includes realtorSection per story."
    },
    {
      "parameters": {
        "jsCode": "// PARSE & VALIDATE DIGEST\n// Gemini with Google Search grounding often returns MULTIPLE parts:\n// reasoning/planning text first, then the actual JSON (sometimes fenced).\n// We must extract ONLY the JSON object, not concatenate everything.\n\nconst response = $input.first().json;\n\nif (response.error) {\n  throw new Error(`Gemini API error: ${response.error.code} \u2014 ${response.error.message}`);\n}\n\nconst candidates = response.candidates;\nif (!candidates || candidates.length === 0) {\n  const blockReason = response.promptFeedback?.blockReason;\n  throw new Error(`Gemini returned no candidates. Block reason: ${blockReason || 'unknown'}`);\n}\n\nconst candidate = candidates[0];\nconst finishReason = candidate.finishReason;\nif (finishReason && finishReason !== 'STOP' && finishReason !== 'MAX_TOKENS') {\n  throw new Error(`Gemini stopped unexpectedly: finishReason=${finishReason}`);\n}\n\nconst parts = candidate.content?.parts || [];\nconst allText = parts.filter(p => p.text).map(p => p.text).join('\\n').trim();\n\nif (!allText) {\n  throw new Error('Gemini returned empty content.');\n}\n\n// \u2500\u2500 Extract the JSON object from the combined text \u2500\u2500\n// Strategy, in order of preference:\n// 1. A ```json ... ``` fenced block\n// 2. A plain ``` ... ``` fenced block that parses as JSON\n// 3. The substring from the first '{' to the last '}'\n\nfunction tryParse(str) {\n  try { return JSON.parse(str); } catch { return null; }\n}\n\nlet digest = null;\n\n// 1. Look for a ```json fenced block\nconst jsonFence = allText.match(/```json\\s*([\\s\\S]*?)```/i);\nif (jsonFence) {\n  digest = tryParse(jsonFence[1].trim());\n}\n\n// 2. Any ``` fenced block\nif (!digest) {\n  const anyFence = allText.match(/```\\s*([\\s\\S]*?)```/);\n  if (anyFence) digest = tryParse(anyFence[1].trim());\n}\n\n// 3. First '{' to last '}' \u2014 handles reasoning text before/after raw JSON\nif (!digest) {\n  const firstBrace = allText.indexOf('{');\n  const lastBrace = allText.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n    digest = tryParse(allText.substring(firstBrace, lastBrace + 1));\n  }\n}\n\n// 4. Last resort \u2014 try the whole thing\nif (!digest) {\n  digest = tryParse(allText);\n}\n\nif (!digest) {\n  throw new Error(`Could not extract valid JSON from Gemini response. First 500 chars: ${allText.substring(0, 500)}`);\n}\n\nif (!digest.stories || !Array.isArray(digest.stories)) {\n  throw new Error('Invalid digest \u2014 missing stories array');\n}\n\n// Sort: high importance first\ndigest.stories.sort((a, b) => {\n  if (a.importance === 'high' && b.importance !== 'high') return -1;\n  if (b.importance === 'high' && a.importance !== 'high') return 1;\n  return 0;\n});\n\n// Carry through search queries for debugging\nconst groundingMeta = candidate.groundingMetadata;\nif (groundingMeta?.webSearchQueries) {\n  digest._searchQueries = groundingMeta.webSearchQueries;\n}\n\nreturn [{ json: digest }];\n"
      },
      "id": "parse-digest",
      "name": "Parse & Validate Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "notes": "Extracts JSON from Gemini multi-part responses. Gemini with Search grounding returns reasoning text + JSON; this finds the JSON via ```json fence, any fence, or first-brace-to-last-brace, ignoring the reasoning prose."
    },
    {
      "parameters": {
        "jsCode": "// LINK VALIDATOR v3\n// For each story:\n// 1. Check the original URL (GET, browser-like headers) \u2014 if it resolves, keep it\n// 2. If broken/null \u2014 ask Gemini + Search to find the real URL\n// 3. Verify Gemini's result resolves\n// 4. Last resort \u2014 Google search URL for headline + source\n//\n// Fixes vs v2:\n// - Uses this.helpers.httpRequest (correct helper; $helpers.request silently failed,\n//   which made EVERY url look broken and fall back to Google)\n// - GET with a browser User-Agent and Accept header (many news sites block bare HEAD\n//   or bot requests, causing false \"broken\" results)\n// - Treats network errors as \"unknown\" and KEEPS the original url rather than\n//   discarding a possibly-good link\n\nconst digest = $input.first().json;\n\nconst GOOGLE_SEARCH = (q) => 'https://www.google.com/search?q=' + encodeURIComponent(q);\nconst GEMINI_ENDPOINT = 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent';\nconst API_KEY = '{{ $credentials.googleGeminiApi.apiKey }}';\n\nconst BROWSER_HEADERS = {\n  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0 Safari/537.36',\n  'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',\n  'Accept-Language': 'en-US,en;q=0.9',\n};\n\n// Returns 'ok' | 'broken' | 'unknown'\nconst checkUrl = async (url) => {\n  if (!url || url === 'null' || url.includes('google.com/search')) return 'broken';\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url,\n      timeout: 10000,\n      followRedirect: true,\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true,\n      headers: BROWSER_HEADERS,\n    });\n    const code = res.statusCode || 0;\n    if (code >= 200 && code < 400) return 'ok';\n    // 401/403/405/429 = site is up but blocking our request style \u2014 link is real, keep it\n    if ([401, 403, 405, 429].includes(code)) return 'ok';\n    // 404/410 = genuinely gone\n    if (code === 404 || code === 410) return 'broken';\n    // other 4xx/5xx \u2014 uncertain\n    return 'unknown';\n  } catch (e) {\n    // Network error / timeout \u2014 we can't prove it's broken, so don't discard it\n    console.warn(`[LINK] check error for ${url}: ${e.message}`);\n    return 'unknown';\n  }\n};\n\nconst findUrlWithGemini = async (headline, source) => {\n  try {\n    const prompt = `Find the exact, direct URL for this specific article. Return ONLY the URL \u2014 no explanation, no markdown, no other text.\n\nArticle headline: \"${headline}\"\nPublished by: ${source}\n\nSearch and return the full direct URL. If you cannot find a confirmed working direct URL, return the word null.`;\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${GEMINI_ENDPOINT}?key=${API_KEY}`,\n      headers: { 'Content-Type': 'application/json' },\n      body: {\n        contents: [{ role: 'user', parts: [{ text: prompt }] }],\n        tools: [{ google_search: {} }],\n        generationConfig: { temperature: 0, maxOutputTokens: 256 },\n      },\n      json: true,\n      timeout: 30000,\n    });\n    const data = typeof res === 'string' ? JSON.parse(res) : res;\n    const text = (data.candidates?.[0]?.content?.parts || [])\n      .filter(p => p.text).map(p => p.text).join('').trim();\n    const m = text.match(/https?:\\/\\/[^\\s\"'<>]+/);\n    return m ? m[0].replace(/[.,;)]$/, '') : null;\n  } catch (e) {\n    console.warn(`[LINK] Gemini lookup error: ${e.message}`);\n    return null;\n  }\n};\n\nconst validated = [];\nlet stats = { ok: 0, kept_unknown: 0, fixed: 0, fallback: 0 };\n\nfor (const story of digest.stories) {\n  const status = await checkUrl(story.sourceUrl);\n\n  if (status === 'ok') {\n    stats.ok++;\n    validated.push(story);\n    continue;\n  }\n\n  if (status === 'unknown') {\n    // Could not verify, but original may be fine \u2014 KEEP it rather than downgrade.\n    stats.kept_unknown++;\n    validated.push({ ...story, _urlUnverified: true });\n    continue;\n  }\n\n  // status === 'broken' \u2192 try to find a real one\n  console.log(`[LINK] Broken URL for \"${story.headline}\" \u2014 searching`);\n  const found = await findUrlWithGemini(story.headline, story.source);\n  if (found) {\n    const foundStatus = await checkUrl(found);\n    if (foundStatus === 'ok' || foundStatus === 'unknown') {\n      stats.fixed++;\n      validated.push({ ...story, sourceUrl: found, _urlFixed: true });\n      continue;\n    }\n  }\n\n  // Last resort\n  stats.fallback++;\n  validated.push({\n    ...story,\n    sourceUrl: GOOGLE_SEARCH(`${story.headline} ${story.source}`),\n    _urlFallback: true,\n  });\n}\n\ndigest.stories = validated;\ndigest._linkValidation = stats;\nconsole.log(`[LINK] ok:${stats.ok} kept_unknown:${stats.kept_unknown} fixed:${stats.fixed} fallback:${stats.fallback}`);\n\nreturn [{ json: digest }];\n"
      },
      "id": "validate-links",
      "name": "Validate & Fix Story Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "notes": "Link Validator v3. Uses this.helpers.httpRequest (v2 used $helpers.request which silently failed, forcing all links to Google fallback). GET with browser headers; treats 403/405/429 as live (site blocking bots, link is real); keeps unverifiable links instead of discarding. Only genuine 404/410 trigger Gemini re-search then Google fallback."
    },
    {
      "parameters": {
        "jsCode": "// PLAGIARISM CHECK NODE\n// Checks summaries, keyPoints, effects, and realtorSection (NOT headlines)\n// against open-access source articles for 8+ word verbatim matches.\n// If flagged stories are found, passes them to the Rewrite Agent node.\n// If clean, passes directly to Build HTML Email.\n\nconst digest = $input.first().json;\n\nconst OPEN_ACCESS_DOMAINS = [\n  'federalreserve.gov',\n  'consumerfinance.gov',\n  'freddiemac.com',\n  'fanniemae.com',\n  'bls.gov',\n  'census.gov',\n  'conference-board.org',\n  'nahb.org',\n  'mba.org',\n];\n\nconst isOpenAccess = (url) => {\n  if (!url) return false;\n  try {\n    const hostname = new URL(url).hostname.replace('www.', '');\n    return OPEN_ACCESS_DOMAINS.some(domain => hostname.includes(domain));\n  } catch { return false; }\n};\n\nconst fetchArticleText = async (url) => {\n  try {\n    const res = await $helpers.request({\n      method: 'GET', url, timeout: 8000, simple: false,\n      headers: { 'User-Agent': 'Mozilla/5.0 (compatible; DigestBot/1.0)' },\n    });\n    if (res.statusCode !== 200) return null;\n    return res.body\n      .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n      .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/\\s+/g, ' ')\n      .trim()\n      .toLowerCase();\n  } catch { return null; }\n};\n\nconst getNgrams = (text, n) => {\n  const words = text.toLowerCase().replace(/[^a-z0-9\\s]/g, '').split(/\\s+/).filter(Boolean);\n  const grams = new Set();\n  for (let i = 0; i <= words.length - n; i++) {\n    grams.add(words.slice(i, i + n).join(' '));\n  }\n  return grams;\n};\n\n// Only check these fields \u2014 headline is always excluded\nconst getCheckableText = (story) => {\n  const parts = [];\n  if (story.summary) parts.push(story.summary);\n  if (story.keyPoints?.length) parts.push(...story.keyPoints);\n  if (story.effects?.hasEffects) {\n    if (story.effects.firstOrder?.length) parts.push(...story.effects.firstOrder);\n    if (story.effects.secondOrder?.length) parts.push(...story.effects.secondOrder);\n  }\n  if (story.realtorSection?.hasRealtorAngle) {\n    if (story.realtorSection.summary) parts.push(story.realtorSection.summary);\n    if (story.realtorSection.actionables?.length) parts.push(...story.realtorSection.actionables);\n  }\n  return parts.join(' ');\n};\n\nconst MIN_NGRAM = 8;\nconst flaggedStories = [];\nconst cleanStories = [];\nlet checked = 0;\nlet skipped = 0;\n\nfor (const story of digest.stories) {\n  if (!isOpenAccess(story.sourceUrl)) {\n    skipped++;\n    cleanStories.push(story);\n    continue;\n  }\n\n  const articleText = await fetchArticleText(story.sourceUrl);\n  if (!articleText) {\n    skipped++;\n    cleanStories.push(story);\n    continue;\n  }\n\n  checked++;\n  const articleNgrams = getNgrams(articleText, MIN_NGRAM);\n  const digestText = getCheckableText(story);\n  const digestNgrams = getNgrams(digestText, MIN_NGRAM);\n  const matches = [...digestNgrams].filter(gram => articleNgrams.has(gram));\n\n  if (matches.length > 0) {\n    flaggedStories.push({\n      ...story,\n      _plagiarismMatches: matches.slice(0, 5),\n      _matchCount: matches.length,\n    });\n    console.warn(`[PLAGIARISM FLAGGED] \"${story.headline}\" \u2014 ${matches.length} match(es)`);\n  } else {\n    cleanStories.push(story);\n  }\n}\n\nconsole.log(`[PLAGIARISM CHECK] ${checked} checked, ${skipped} skipped, ${flaggedStories.length} flagged`);\n\nreturn [{ json: {\n  ...digest,\n  stories: cleanStories,        // clean stories pass through as-is\n  _flaggedStories: flaggedStories, // flagged stories go to rewrite agent\n  _plagiarismSummary: {\n    checked, skipped,\n    flagged: flaggedStories.length,\n    needsRewrite: flaggedStories.length > 0,\n  },\n}}];\n"
      },
      "id": "plagiarism-check",
      "name": "Plagiarism Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "notes": "Checks summary/keyPoints/effects/realtorSection (NOT headlines) against open-access sources for 8+ word verbatim matches. Separates clean stories from flagged ones. Flagged stories go to Rewrite Agent. Clean stories pass through in digest.stories."
    },
    {
      "parameters": {
        "jsCode": "// REWRITE AGENT NODE\n// Receives flagged stories from the Plagiarism Check node.\n// Rewrites only the flagged fields (summary, keyPoints, effects, realtorSection)\n// for each flagged story using Gemini \u2014 headlines, sources, and URLs are preserved.\n// Merges rewritten stories back into the digest and passes everything to Build HTML Email.\n// This is Option B: always send after rewrite regardless of second-check result.\n\nconst digest = $input.first().json;\nconst flaggedStories = digest._flaggedStories || [];\n\n// If nothing was flagged, pass straight through\nif (flaggedStories.length === 0) {\n  console.log('[REWRITE AGENT] No flagged stories \u2014 passing through');\n  const { _flaggedStories, _plagiarismSummary, ...cleanDigest } = digest;\n  return [{ json: cleanDigest }];\n}\n\nconsole.log(`[REWRITE AGENT] Rewriting ${flaggedStories.length} flagged story/stories`);\n\nconst rewrittenStories = [];\n\nfor (const story of flaggedStories) {\n  const { _plagiarismMatches, _matchCount, ...storyData } = story;\n\n  const prompt = `You are a mortgage industry analyst. The following story summary contains text that too closely matches the source article. Rewrite ONLY the fields listed below using entirely original language. Do not copy any phrase from the source. Do not quote the article. Paraphrase all facts from scratch using different words and sentence structures.\n\nPRESERVE EXACTLY (do not change):\n- headline: \"${storyData.headline}\"\n- source: \"${storyData.source}\"\n- sourceUrl: \"${storyData.sourceUrl}\"\n- importance: \"${storyData.importance}\"\n- category: \"${storyData.category}\"\n\nREWRITE THESE FIELDS using completely original language:\n- summary (MAX 2 sentences, lead with key fact or number)\n- keyPoints (MAX 3 bullets, MAX 10 words each, facts only)\n- effects.firstOrder (MAX 2 items, MAX 12 words each) \u2014 only if hasEffects is true\n- effects.secondOrder (MAX 2 items, MAX 12 words each) \u2014 only if hasEffects is true\n- realtorSection.summary (MAX 2 sentences) \u2014 only if hasRealtorAngle is true\n- realtorSection.actionables (MAX 2 items, MAX 12 words each) \u2014 only if hasRealtorAngle is true\n\nCurrent content to rewrite:\n${JSON.stringify(storyData, null, 2)}\n\nReturn ONLY valid JSON for this single story with all original fields preserved and the above fields rewritten. No markdown, no code fences, no commentary.`;\n\n  try {\n    const response = await $helpers.request({\n      method: 'POST',\n      url: `https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent?key={{ $credentials.googleGeminiApi.apiKey }}`,\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        contents: [{ role: 'user', parts: [{ text: prompt }] }],\n        generationConfig: { temperature: 0.4, maxOutputTokens: 1024 },\n      }),\n      timeout: 60000,\n      simple: false,\n    });\n\n    const data = JSON.parse(response.body);\n    const rawText = (data.candidates?.[0]?.content?.parts || [])\n      .filter(p => p.text).map(p => p.text).join('').trim()\n      .replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/\\s*```$/i, '');\n\n    const rewritten = JSON.parse(rawText);\n\n    // Enforce: headline, source, sourceUrl must not change\n    rewritten.headline = storyData.headline;\n    rewritten.source = storyData.source;\n    rewritten.sourceUrl = storyData.sourceUrl;\n    rewritten.importance = storyData.importance;\n    rewritten.category = storyData.category;\n    rewritten._rewritten = true;\n\n    rewrittenStories.push(rewritten);\n    console.log(`[REWRITE AGENT] Rewrote: \"${storyData.headline}\"`);\n  } catch (err) {\n    // If rewrite fails, include original story with a flag rather than drop it\n    console.error(`[REWRITE AGENT] Failed to rewrite \"${storyData.headline}\": ${err.message}`);\n    rewrittenStories.push({ ...storyData, _rewriteFailed: true });\n  }\n}\n\n// Merge: clean stories + rewritten stories, restore original sort order\nconst allStories = [\n  ...digest.stories,       // already-clean stories\n  ...rewrittenStories,     // rewritten flagged stories\n].sort((a, b) => {\n  if (a.importance === 'high' && b.importance !== 'high') return -1;\n  if (b.importance === 'high' && a.importance !== 'high') return 1;\n  return 0;\n});\n\n// Strip internal fields before passing to email builder\nconst { _flaggedStories, _plagiarismSummary, ...finalDigest } = digest;\nfinalDigest.stories = allStories;\nfinalDigest._rewriteLog = {\n  rewritten: rewrittenStories.length,\n  rewriteFailed: rewrittenStories.filter(s => s._rewriteFailed).length,\n};\n\nconsole.log(`[REWRITE AGENT] Complete \u2014 ${rewrittenStories.length} rewritten, merging into digest`);\n\nreturn [{ json: finalDigest }];\n"
      },
      "id": "rewrite-agent",
      "name": "Rewrite Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "notes": "Receives flagged stories from Plagiarism Check. Calls Gemini to rewrite only the flagged fields \u2014 headline, source, and URL are always preserved. Merges rewritten stories back with clean stories and passes to Build HTML Email. Option B: always sends after rewrite."
    },
    {
      "parameters": {
        "jsCode": "const digest = $input.first().json;\n\n// JWH Financial brand palette\nconst BRAND = {\n  navy: '#0D1321',\n  blue: '#3B6FE8',\n  green: '#22C55E',\n  red: '#DC2626',\n  pageBg: '#EEF0F5',\n  cardBg: '#FFFFFF',\n  border: '#E2E5EC',\n  textPrimary: '#0D1321',\n  textSecondary: '#4B5563',\n  textMuted: '#9CA3AF',\n  effectsBg: '#EEF2FF',\n  effectsBorder: '#C7D2FE',\n};\n\n// Source badge colors \u2014 all in brand navy or blue family\nconst SOURCE_COLORS = {\n  'HousingWire': '#1E3A8A',\n  'Mortgage News Daily': '#1E40AF',\n  'MBS Live': '#C2410C',\n  'National Mortgage Professional': '#5B21B6',\n  'Federal Reserve': '#065F46',\n  'CFPB': '#166534',\n  'Freddie Mac': '#1D4ED8',\n  'Fannie Mae': '#1E3A8A',\n  'Mortgage Bankers Association': '#9F1239',\n  'National Association of Realtors': '#1D4ED8',\n  'Bloomberg': '#C2410C',\n  'Wall Street Journal': '#0D1321',\n};\n\nconst CATEGORY_EMOJI = {\n  rates: '\ud83d\udcc8', mbs: '\ud83d\udcca', housing: '\ud83c\udfe0',\n  fed: '\ud83c\udfe6', regulatory: '\ud83d\udccb', gse: '\ud83c\udfdb\ufe0f',\n  lender: '\ud83c\udfe2', economy: '\ud83d\udcbc',\n};\n\nconst getSourceColor = (source) => {\n  for (const [key, color] of Object.entries(SOURCE_COLORS)) {\n    if (source.toLowerCase().includes(key.toLowerCase())) return color;\n  }\n  return BRAND.navy;\n};\n\n// Rate table\nconst rateRows = (digest.marketSnapshot?.rates || []).map(r => {\n  const isUp = r.change && r.change.startsWith('+');\n  const isDown = r.change && r.change.startsWith('-');\n  const changeColor = isUp ? BRAND.red : isDown ? BRAND.green : BRAND.textMuted;\n  const changeBg = isUp ? '#FEF2F2' : isDown ? '#F0FDF4' : '#F9FAFB';\n  return `<tr>\n    <td style=\"padding:10px 0;border-bottom:1px solid ${BRAND.border};font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:12px;font-weight:600;color:${BRAND.textSecondary};letter-spacing:0.03em;\">${r.label}</td>\n    <td style=\"padding:10px 0;border-bottom:1px solid ${BRAND.border};font-family:'Courier New',Courier,monospace;font-size:15px;font-weight:700;color:${BRAND.textPrimary};text-align:right;\">${r.value}</td>\n    <td style=\"padding:10px 0 10px 8px;border-bottom:1px solid ${BRAND.border};text-align:right;\">\n      <span style=\"display:inline-block;padding:2px 8px;background:${changeBg};color:${changeColor};font-family:'Courier New',Courier,monospace;font-size:10px;font-weight:700;border-radius:20px;\">${r.change || '\u2014'}</span>\n    </td>\n  </tr>`;\n}).join('');\n\n// Story cards\nconst storyCards = digest.stories.map((story) => {\n  const borderColor = getSourceColor(story.source);\n  const isTop = story.importance === 'high';\n  const emoji = CATEGORY_EMOJI[story.category] || '';\n\n  const keyPointsHtml = story.keyPoints?.length\n    ? `<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-top:10px;\">\n        ${story.keyPoints.map(p => `<tr><td style=\"padding:3px 0;vertical-align:top;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;\">\n          <span style=\"color:${BRAND.blue};font-weight:700;margin-right:6px;font-size:13px;\">\u00b7</span><span style=\"font-size:13px;color:${BRAND.textSecondary};line-height:1.5;\">${p}</span>\n        </td></tr>`).join('')}\n      </table>`\n    : '';\n\n  const effects = story.effects;\n  const effectsHtml = effects?.hasEffects\n    ? `<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-top:12px;border:1px solid ${BRAND.effectsBorder};border-radius:8px;overflow:hidden;\">\n        <tr><td colspan=\"2\" style=\"background:${BRAND.effectsBg};padding:7px 12px 5px;\">\n          <span style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:9px;font-weight:700;color:${BRAND.blue};letter-spacing:0.1em;text-transform:uppercase;\">Market Implications</span>\n        </td></tr>\n        <tr>\n          <td width=\"50%\" valign=\"top\" style=\"background:${BRAND.effectsBg};padding:4px 12px 10px;border-right:1px solid ${BRAND.effectsBorder};\">\n            <p style=\"margin:0 0 5px;font-size:9px;font-weight:700;color:${BRAND.navy};letter-spacing:0.08em;text-transform:uppercase;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;\">\u26a1 Immediate</p>\n            ${(effects.firstOrder || []).map(e => `<p style=\"margin:0 0 4px;font-size:11px;color:${BRAND.textSecondary};line-height:1.5;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;\">\u00b7 ${e}</p>`).join('')}\n          </td>\n          <td width=\"50%\" valign=\"top\" style=\"background:${BRAND.effectsBg};padding:4px 12px 10px;\">\n            <p style=\"margin:0 0 5px;font-size:9px;font-weight:700;color:${BRAND.blue};letter-spacing:0.08em;text-transform:uppercase;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;\">\u301c Downstream</p>\n            ${(effects.secondOrder || []).map(e => `<p style=\"margin:0 0 4px;font-size:11px;color:${BRAND.textSecondary};line-height:1.5;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;\">\u00b7 ${e}</p>`).join('')}\n          </td>\n        </tr>\n      </table>`\n    : '';\n\n\n  // Realtor section\n  const rs = story.realtorSection;\n  const realtorHtml = rs?.hasRealtorAngle\n    ? `<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-top:12px;border:1px solid #BBF7D0;border-radius:8px;overflow:hidden;\">\n        <tr><td style=\"background:#F0FDF4;padding:7px 12px 5px;\">\n          <span style=\"font-size:9px;font-weight:700;color:#15803D;letter-spacing:0.1em;text-transform:uppercase;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;\">\ud83c\udfe1 For Realtors &amp; Agents</span>\n        </td></tr>\n        <tr><td style=\"background:#F0FDF4;padding:4px 12px 8px;\">\n          <p style=\"margin:0 0 6px;font-size:12px;color:#166534;line-height:1.55;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;\">${rs.summary}</p>\n          ${(rs.actionables || []).map(a => `<p style=\"margin:0 0 3px;font-size:11px;color:#15803D;line-height:1.5;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;\">\u2192 ${a}</p>`).join('')}\n        </td></tr>\n      </table>`\n    : '';\n\n  const linkHtml = story.sourceUrl\n    ? `<a href=\"${story.sourceUrl}\" style=\"display:inline-block;margin-top:10px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:12px;font-weight:600;color:${BRAND.blue};text-decoration:none;\">Read full story \u2192</a>`\n    : '';\n\n  return `<table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"margin-bottom:12px;border-radius:10px;overflow:hidden;border:1px solid ${BRAND.border};\">\n    <tr>\n      <td style=\"width:4px;background:${borderColor};font-size:0;\">&nbsp;</td>\n      <td style=\"background:${BRAND.cardBg};padding:14px 16px;border-radius:0 10px 10px 0;\">\n        <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n          <tr><td>\n            <span style=\"display:inline-block;padding:3px 9px;background:${borderColor};color:white;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:9px;font-weight:700;letter-spacing:0.07em;border-radius:20px;text-transform:uppercase;\">${story.source}</span>\n            ${isTop ? ` <span style=\"display:inline-block;padding:3px 9px;background:${BRAND.blue};color:white;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:9px;font-weight:700;letter-spacing:0.06em;border-radius:20px;\">\u2605 Top Story</span>` : ''}\n            ${emoji ? ` <span style=\"font-size:12px;\">${emoji}</span>` : ''}\n          </td></tr>\n          <tr><td style=\"padding-top:8px;\">\n            <p style=\"margin:0 0 5px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:15px;font-weight:700;color:${BRAND.textPrimary};line-height:1.35;\">${story.headline}</p>\n            <p style=\"margin:0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;color:${BRAND.textSecondary};line-height:1.6;\">${story.summary}</p>\n            ${keyPointsHtml}\n            ${effectsHtml}\n            ${realtorHtml}\n            ${linkHtml}\n          </td></tr>\n        </table>\n      </td>\n    </tr>\n  </table>`;\n}).join('');\n\n// Watch list\nconst watchItems = (digest.watchList || []).map((item, i) =>\n  `<tr><td style=\"padding:8px 0;border-bottom:1px solid ${BRAND.border};vertical-align:top;\">\n    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n      <td style=\"width:28px;vertical-align:top;padding-top:1px;\">\n        <span style=\"display:inline-block;width:20px;height:20px;background:${BRAND.blue};border-radius:50%;text-align:center;line-height:20px;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:10px;font-weight:700;color:white;\">${i+1}</span>\n      </td>\n      <td style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;font-size:13px;color:${BRAND.textSecondary};line-height:1.6;\">${item}</td>\n    </tr></table>\n  </td></tr>`\n).join('');\n\nconst UNSUBSCRIBE_WEBHOOK = 'https://jwhfinancial.app.n8n.cloud/webhook/digest-unsubscribe';\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">\n<meta name=\"color-scheme\" content=\"light\">\n<meta name=\"supported-color-schemes\" content=\"light\">\n<title>${digest.subject || 'Daily Mortgage & Real Estate Digest'}</title>\n</head>\n<body style=\"margin:0;padding:0;background:${BRAND.pageBg};font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;-webkit-text-size-adjust:100%;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:${BRAND.pageBg};\">\n<tr><td align=\"center\" style=\"padding:20px 12px 32px;\">\n\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\">\n\n  <!-- BLUE TOP STRIPE -->\n  <tr><td style=\"background:${BRAND.blue};height:5px;border-radius:10px 10px 0 0;font-size:0;line-height:0;\">&nbsp;</td></tr>\n\n  <!-- HEADER -->\n  <tr><td style=\"background:${BRAND.navy};padding:22px 24px 20px;border-radius:0;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n      <td>\n        <p style=\"margin:0 0 2px;font-size:9px;font-weight:700;color:${BRAND.blue};letter-spacing:0.14em;text-transform:uppercase;\">JWH Financial \u00b7 Daily Briefing \u00b7 ${digest.date}</p>\n        <p style=\"margin:0;font-size:22px;font-weight:800;color:#FFFFFF;letter-spacing:-0.03em;line-height:1.2;\">Mortgage &amp; Real Estate Digest</p>\n      </td>\n      <td align=\"right\" valign=\"middle\" style=\"padding-left:16px;\">\n        <div style=\"width:44px;height:44px;background:${BRAND.blue};border-radius:10px;text-align:center;line-height:44px;font-size:22px;\">\ud83c\udfe0</div>\n      </td>\n    </tr></table>\n  </td></tr>\n\n  <!-- MARKET SNAPSHOT -->\n  <tr><td style=\"background:${BRAND.cardBg};padding:20px 24px;border-top:none;\">\n    <p style=\"margin:0 0 3px;font-size:9px;font-weight:700;color:${BRAND.blue};letter-spacing:0.12em;text-transform:uppercase;\">Market Snapshot</p>\n    <p style=\"margin:0 0 16px;font-size:14px;color:${BRAND.textSecondary};line-height:1.65;\">${digest.marketSnapshot?.narrative || ''}</p>\n    <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">${rateRows}</table>\n  </td></tr>\n\n  <!-- DIVIDER -->\n  <tr><td style=\"background:${BRAND.pageBg};padding:8px 0;font-size:0;line-height:0;\">&nbsp;</td></tr>\n\n  <!-- STORIES -->\n  <tr><td style=\"background:${BRAND.pageBg};padding:0 0 4px;\">\n    <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n      <tr><td style=\"padding:0 0 12px;\">\n        <p style=\"margin:0;font-size:9px;font-weight:700;color:${BRAND.blue};letter-spacing:0.12em;text-transform:uppercase;\">Today's Top Stories</p>\n      </td></tr>\n    </table>\n    ${storyCards}\n  </td></tr>\n\n  <!-- DIVIDER -->\n  <tr><td style=\"background:${BRAND.pageBg};padding:4px 0;font-size:0;\">&nbsp;</td></tr>\n\n  <!-- WHAT TO WATCH -->\n  <tr><td style=\"background:${BRAND.cardBg};padding:20px 24px;border-radius:10px;\">\n    <p style=\"margin:0 0 12px;font-size:9px;font-weight:700;color:${BRAND.blue};letter-spacing:0.12em;text-transform:uppercase;\">What to Watch Today</p>\n    <table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">${watchItems}</table>\n    ${digest.closingNote ? `<p style=\"margin:14px 0 0;font-size:13px;color:${BRAND.textMuted};font-style:italic;line-height:1.6;border-top:1px solid ${BRAND.border};padding-top:12px;\">${digest.closingNote}</p>` : ''}\n  </td></tr>\n\n  <!-- FOOTER -->\n  <tr><td style=\"background:${BRAND.navy};padding:18px 24px;border-radius:0;text-align:center;margin-top:8px;\">\n    <!-- FOOTER_CONTACT --><p style=\"margin:0 0 3px;font-size:12px;font-weight:700;color:#FFFFFF;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;\">JWH Financial \u00b7 Mortgage &amp; Real Estate Digest</p>\n    <p style=\"margin:0 0 10px;font-size:10px;color:${BRAND.textMuted};font-family:'Courier New',Courier,monospace;\">mortgage-digest@jwhfinance.com</p><!-- /FOOTER_CONTACT -->\n    <p style=\"margin:0 0 8px;font-size:9px;color:#374151;line-height:1.7;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;\">HousingWire \u00b7 MND \u00b7 MBS Live \u00b7 NMP \u00b7 Fed \u00b7 CFPB \u00b7 Freddie Mac \u00b7 Fannie Mae<br>MBA \u00b7 NAR \u00b7 Inman \u00b7 Zillow \u00b7 Redfin \u00b7 NAHB \u00b7 CoStar \u00b7 BLS \u00b7 Census \u00b7 Conference Board \u00b7 Bloomberg RE \u00b7 WSJ Housing</p>\n    <p style=\"margin:0 0 10px;font-size:9px;color:#4B5563;font-style:italic;line-height:1.6;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;\">Summaries are independently generated. All rights belong to original publishers.</p>\n    <a href=\"${UNSUBSCRIBE_WEBHOOK}?email={{subscriber_email}}\" style=\"font-size:10px;color:${BRAND.textMuted};text-decoration:underline;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;\">Unsubscribe</a>\n  </td></tr>\n\n  <!-- BLUE BOTTOM STRIPE -->\n  <tr><td style=\"background:${BRAND.blue};height:4px;border-radius:0 0 10px 10px;font-size:0;line-height:0;\">&nbsp;</td></tr>\n\n</table>\n</td></tr>\n</table>\n</body></html>`;\n\nreturn [{ json: { html, subject: digest.subject || `\ud83c\udfe0 Mortgage & Real Estate Digest \u2014 ${digest.date}`, digest } }];\n"
      },
      "id": "build-email",
      "name": "Build HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ],
      "notes": "JWH Financial brand palette. Navy #0D1321, Royal Blue #3B6FE8, Light grey bg #EEF0F5. Update UNSUBSCRIBE_WEBHOOK with your actual n8n URL."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xwXBF7mVq9hENr2B43Ig9OS6TqF1H8CoOePfe8Zo8G0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Digest",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "subject": "={{ $('Build HTML Email').first().json.subject }}",
            "html": "={{ $('Build HTML Email').first().json.html }}"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "save-digest",
      "name": "Save Digest to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets (Digest)"
        }
      },
      "notes": "APPEND operation (not update) \u2014 adds one new row per day with timestamp, subject, html. References columns by header name. No match column needed for append. Unlimited history."
    }
  ],
  "connections": {
    "5:30 AM Daily (Mon\u2013Fri)": {
      "main": [
        [
          {
            "node": "Generate Digest via Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Digest via Gemini": {
      "main": [
        [
          {
            "node": "Parse & Validate Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Digest": {
      "main": [
        [
          {
            "node": "Validate & Fix Story Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Fix Story Links": {
      "main": [
        [
          {
            "node": "Plagiarism Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plagiarism Check": {
      "main": [
        [
          {
            "node": "Rewrite Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Agent": {
      "main": [
        [
          {
            "node": "Build HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Email": {
      "main": [
        [
          {
            "node": "Save Digest to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}